{% extends "base.html" %}
{% block titre %}Login{% endblock %}
{% block bodyContenu %}


<form method="POST">
    <h2 class="formLogin">Modification d'utilisateur</h2>
    <div class="form-group">
        <label for="rechercheutilisateur">Rechercher un utilisateur</label>
        <input type="text" id="rechercheutilisateur" name="email" class="form-control" placeholder="Entrer un nom d'utilisateur" />
        <div class="formLogin">
            <button class="bg-info btn" type="submit">Rechercher</button>
        </div>
    </div>
</form>
{% block suiteAdminPannel %}{% endblock %}
{% endblock %}