{% extends "base.html" %}
{% block titre %}Login{% endblock %}
{% block bodyContenu %}


<form method="POST">
    <h2 class="formLogin">Promouvoir utilisateur au rang auteur</h2>
    <div class="form-group">
        <label for="emailPromUtilisateur">Email address</label>
        <input type="text" id="emailPromUtilisateur" name="email" class="form-control" placeholder="Enter email" />
        <div class="formLogin">
            <button class="bg-info btn" type="submit">Promouvoir</button>
        </div>
    </div>
</form>

<form method="POST">
    <h2 class="formLogin">Promouvoir auteur au rang administrateur</h2>
    <div class="form-group">
        <label for="emailPromautheur">Email address</label>
        <input type="text" id="emailPromautheur" name="email" class="form-control" placeholder="Enter email" />
        <div class="formLogin">
            <button class="bg-info btn" type="submit">Promouvoir</button>
        </div>
    </div>
</form>

<form method="POST">
    <h2 class="formLogin">Modifier le profil du membre</h2>
    <div class="form-group">
        <label for="nom">Username</label>
        <input type="text" id="nom" name="nom" class="form-control" placeholder="Entrer votre nom" />
    <div class="formLogin">
            <button class="bg-info btn" type="submit">Modifier le compte</button>
        </div>
    </div>

</form>
{% endblock %}