{% extends "adminRechercheUser.html" %}
{% block title %}Modifiez ce compte{% endblock %}
{% block suiteAdminPannel %}

<form method="POST">
    <h2 class="formLogin">Modifiez ce compte</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Entrer votre pseudo" />
        <label for="email">Email address</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Entrer votre email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Entrer un mot de passe" />
        <label for="passwordconfirmation">Password Confirmation</label>
        <input type="password" id="passwordconfirmation" name="passwordconfirmation" class="form-control" placeholder="Confirmer votre mot de passe" />
        <div class="formLogin">
            <button class="bg-info btn" type="submit">Modifier le compte</button>
        </div>
    </div>

</form>

{% endblock %}