{% extends "base.html" %}
{% block title %}Sign up!{% endblock %}
{% block bodyContent %}

<form  method="POST">
    <h2 class="formLogin">Sign up!</h2>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Enter email"/>

        <label for="email">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter username"/>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password"/>

        <label for="passwordconfirmation">Password Confirmation</label>
        <input type="password" id="passwordconfirmation" name="passwordconfirmation" class="form-control" placeholder="Enter password confirmation"/>
        <div class="formLogin"><button class="btn btn-success" type="submit">Submit</button>
            </div>
    </div>

</form>




{% endblock %}
