nav .navbar-nav li .navbar a{
  color: black !important;
  }

.formLogin{
  text-align: center;
  align-content: center;
}

hr{
   margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid black; !important;
}

.submitcomment{
  color: red;
}